<body>
  <div class="content">
    <div class="DisplayOrder">
      <div class="Displaymenu">
        <h1>Feedback</h1>
      </div>
      <% Order.all.each do |order| %>
        <div class="card">
        <div class="container">
          <div class="textline2"><i>User Name : <%= User.find(order.user_id).first_name + User.find(order.user_id).last_name %></i></div>


            <% if order.feedback != nil %>
              <div class="textline1">Feedback: <%= order.feedback%></div>
            <% else %>
              <div class="textline1">No feedback given</div>
            <% end %>
            </div>
            </div>

      <% end %>
    </div>
  </div>
</body>
