
  <div class="header">
    <p class="logo">Caffeteria Management</p>
    <div class="header-right">
      <p class="nav-text"><%= link_to "Signup", new_user_path,{:style=>'color:#FFFFFF;', :class => "css_class"}%></p>
      <p class="nav-text"><%= link_to "Signin", new_session_path ,{:style=>'color:#FFFFFF;', :class => "css_class"} %></p>
    </div>
  </div>
