<body>

  <div class="AddOrder">
    <div class="DisplayOrder">
      <div class="DisplayOrder-welcome">
        <h1>Your Orders</h1>
      </div>
      <%= form_with(url: "/orders", method:"post") do %>
        <%= submit_tag "Place New Order" , class: "AddOrder-button"%>
     <%end%>
    </div>
  </div>
</body>
