.menuname{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
padding-top: 8px;
padding-bottom: 8px;
font-size: larger;
}

.Displaymenu {
  padding: 30px;
  text-align: center;
  background: url(backimg.jpg);
  color: white;
  font-size: x-large;
  font-weight: 700;
  font-family: Roboto;
}

.Displaymenu2 {
  padding: 30px;
  text-align: center;
  background: url(backimg.jpg);
  color: white;
  font-size: x-large;
  font-weight: 700;
  font-family: Roboto;
}


.signup-btn-in1{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 35px;
  margin-bottom: 6px;
  margin-left: 154px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

.signup-btn-in2{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 12px;
  margin-bottom: 6px;
  margin-left: 150px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

.signup-btn-in3{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 12px;
  margin-bottom: 6px;
  margin-left: 100px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

.signup-btn-in4{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 22px;
  margin-bottom: 6px;
  margin-left: 10px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}


.signup-btn-in15{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 16px;
  margin-left: 10px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
}

.signup-btn-in5{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 22px;
  margin-bottom: 6px;
  margin-left: 625px;
  background: url(backimg.jpg) no-repeat center;
  border-radius: 44px;
  cursor: pointer;

  transition: 0.8s;
}

.signup-btn-in6{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 22px;
  margin-bottom: 6px;
  margin-left: 600px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

.signup-btn-in7{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 6px;
  margin-left: 600px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

.signup-btn-in8{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 6px;
  margin-left: 300px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

.signup-btn-in9{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 6px;
  margin-left: 333px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

.signup-btn-in10{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 6px;
  margin-top: 20px;
  margin-left: 340px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}


.signup-btn-in11{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 46px;
  margin-top: 20px;
  margin-left: 340px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

.signup-btn-in12{
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 46px;
  margin-top: 20px;
  margin-left: 120px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

.signup-btn-in13{
  font-weight: bold;
  font-size: larger;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 45px;
  padding-left: 45px;
  margin-bottom: 46px;
  margin-top: 20px;
  margin-left: 340px;
  color: black;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}





a { color: white;text-decoration: none; }

.content {
  max-width: 1400px;
  margin: auto;
  background: white;
  padding: 10px;
}

.contentin {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}

.rightside
{
margin-left: 80%;
}


.adjustmenu{
  font-size: x-large;
 color:black;
 margin-left: 150px;
 margin-top: 40px;

}

.adjustmenu2{
  font-size: x-large;
 color:black;
 margin-left: 50px;
 margin-top: 40px;
}

.adjustmenu .p{
 font-size: x-large;
 color:black;
 margin-top: 40px;
 padding-bottom: 5px;
}

.menu-main{

}

.menu-main .title-caption{
	color:#666;
}
.tab-title-menu {
	text-align:center;
}

.tab-title-menu h2{
	border-bottom:1px solid #666;
	display: inline-block;
	padding-top: 10px;
}

.tab-title-menu p{
	font-size:35px;
	padding-top:0px;
}
.tab-title-menu p {
	color:#000;
}

.tab-menu{
	background: #f5f5f5;
    padding: 2px 0px;
	box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.05);
}

.offer-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-top: 30px;
    display: flex;
}

.offer-item img {
    width: 20%;
    float: left;
    padding: 10px;
    background: #fff;
	  border-radius: 50%;
}

.offer-item div {
    width: 60%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.offer-item .offer-price {
    position: absolute;
    right: 15px;
    top: 50%;
    display: block;
    width: 92px;
    height: 92px;
    line-height: 92px;
    -moz-border-radius: 92px;
    -webkit-border-radius: 92px;
    border-radius: 92px;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: .5px;
}

.offer-item div h3 {
    font-size: 24px;
    margin: 9px 0 0px;
    font-family: 'nautilus_pompiliusregular';
    font-weight: 400;
    letter-spacing: .5px;
    padding-top: 1px;


}

.offer-item div p {
    color: #6b6b6b;
    margin-top: 15px;
}

.inline{
  display: inline-flex;
}

.leftside
{
color:white;
font-size: 24px;
margin-right:500 px;
}

.inline3
{
  margin-top: 20px;
}
