
body{
  margin: 0;
  padding: 0;
  background:url(backimg.jpg) ;

}
.signup-form{
  width: 400px;
  padding: 20px;
  text-align: center;
  background: url(fav-col2.jpg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

.backlayer{
  background: url(backimg.jpg) ;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer {
  background-color: rgba(61, 34, 133, 0.541);
  position: absolute;
  top: 10%;
  left: 20%;
  bottom: 10%;
  right:20%;
  width: 55%;
  height: 80%;
}


@font-face {
  font-family: myFirstFont;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap);
}



.signup-form h1{
  margin-top: 100px;
  margin-bottom: 35px;
  font-family:  cursive;
  color: #fff;
  font-family: myFirstFont;
  font-weight: 500;
  font-size: 40px;
}
.signup-form input{
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-weight: 500;
  font-family: "montserrat",sans-serif;
}


.txtb{
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.883);
  border-radius: 6px;
}

.signup-btn{
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
  background: url(backimg.jpg) no-repeat center;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}


.signup-btn:hover{
  transform: scale(0.96);
}

.signup-form a{
  text-decoration: none;
  color: #fff;
  font-family: "montserrat",sans-serif;
  font-size: 14px;
  padding: 10px;
  transition: 0.8s;
  display: block;
}

.signup-form a:hover{
  background: rgba(0,0,0,.3);
}
